<div>
        <style>
     .col-md-4 {margin-top:80px;
        box-shadow: 10px 10px 60px 25px black;
        background: rgba(0, 0, 0, 0.4);
	margin-left:150px;
        margin-bottom:50px;
        margin-top:10px;
        margin-left:350px;
     }
        .col-md-4 col-sm-4 col-xs-12 input{
	width:100%;
	margin-bottom:20px;
}

     .form-control{
	background:white;
	border-radius: 0px;
	border:0px;
	border-bottom:1px;
} 
 .form-group{
         text-align: center;
 }
 .label{
	font-weight:normal;
	margin-top:15px;
	color:white;
	font-size:21px;
}
.panel{
        border:0px;
        background:rgba(0,0,0,0.5);
        color:#ffff;
        text-align:center;
        padding-top:50px;
}


        </style>
        


        
        <div class="container">
                <div class="row">
                        
<div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-default">
                
                <div class="panel-body">
        <form action="/knowledge/list/apply" method="POST" enctype="multipart/form-data">

                <input type="hidden" name="_id" value="{{list._id}}">
                <input type="hidden" name="_timePeriod" id=""  value="{{list.timePeriod}}">
                <input type="hidden" name="_adminEmail" value="{{list.email}}">
  <div class="form-group">
        <label for="name"><span style="color:rgb(255, 255, 255)"><span class="glyphicon">&#x270f;</span>  Title:</span></label> 
                <input type="text" name="title" id="" placeholder=" Title" class="form-control"><br>
  </div> 
   <div class="form-group">
        <label for="working idea"><span style="color:rgb(255, 255, 255)"><span class="glyphicon">&#xe124;</span>  Working Idea:</span></label>           
                <textarea name="idea" id="" cols="30" rows="10" placeholder="Working Idea"></textarea><br>
   </div> 
   <div class="form-group">
        <label for="amount"><span style="color:rgb(255, 255, 255)"><span class="glyphicon">&#xe131;</span>  Enter Minimum Amount:</span></label>              
                <input type="text" name="amount" id="" placeholder="minimum amount" class="form-control"><br>
    </div>            
                <input type="file" name="ideaPDF" id=""><br>
                <button type="button" class="btn btn-info">Submit</button>
        </form>
        </div>
        </div>
       </div>
</div>