Dashboard

<div>
      Hello {{userType}} : {{name}}
</div>

<div>
      <ul>
            <li><a href="/knowledge/list">List of problems</a></li>
            <li><a href="/knowledge/applied">list of problem applied</a></li>
      </ul>
</div>