<style>
     .col-md-4 {margin-top:80px;
        box-shadow: 10px 10px 60px 25px black;
        background: rgba(0, 0, 0, 0.4);
	margin-left:150px;
        margin-bottom:50px;
        margin-top:10px;
        margin-left:350px;
     }
        .col-md-4 col-sm-4 col-xs-12 input{
	width:100%;
	margin-bottom:20px;
}

     .form-control{
	background:white;
	border-radius: 0px;
	border:0px;
	border-bottom:1px;
} 
 .form-group{
         text-align: center;
 }
 .label{
	font-weight:normal;
	margin-top:15px;
	color:white;
	font-size:21px;
}
.panel{
        border:0px;
        background:rgba(0,0,0,0.5);
        color:#ffff;
        text-align:center;
        padding-top:50px;
}
h2{
        text-align: center;
        margin-top: 5px;
        color: black;
        background: #ffff;
}

        </style>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/forgot-password" method="post">
                        <label for="" class="form-control">Please select account type</label><br>
                        <select style="background-color: #fff;color: black;" name="userType" id="" class="form-control">
                            <option style="background-color: #fff;color: black;" value="adm">Admin</option>
                            <option style="background-color: #fff;color: black;" value="knc">Knowledge Contributor</option>
                            <option style="background-color: #fff;color: black;" value="fnc">Finance Contributor</option>
                            <option style="background-color: #fff;color: black;" value="dev">Developer</option>
                        </select><br>
                        <input type="email" name="email" id="" class="form-control"><br>
                        <input type="submit" value="Submit" class="btn btn-info"><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
