<div style="text-align:center;padding:20px;
            border-radius:5px;
            box-shadow: 0px 0px 10px 0px #000;
            background:rgba(0,0,0,0.2)">
        <h3>TITLE : {{list.title}}</h3><br>
        Idea submitted by : {{list.email}} <br>
        <hr>
        <h3 style="font-size:15pt; ">Description :</h3> <br>
        <p>{{list.idea}}</p>
        <br>
        <hr>
        Days to work : {{list.timePeriod}} <br>
        <hr>
        
        
        
</div>